body {
  background-image: url("background.png");
  background-color: #FFFFFF;
  font-family: 'Luckiest Guy', cursive;
  font-size: 5px;
}

.noscroll {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

path {
  fill: transparent;
}

text {
  fill: #FF9800;
}

a {
  fill: #34eb52;
  text-decoration: underline;
}

