@font-face {
  font-family: 'Avenir';
  src: URL('avenirlight.ttf') format('truetype');
}

body {
  background-color: #FFFFFF;
  font-family: 'Avenir';
}

.wix_text {
  font-size: 50px;
  padding-left: 50px;
  color: #363636;
}

.calligramma {
  display: block;
  margin: auto;
  width: 50%;
}

.noscroll {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

path {
  fill: transparent;
}

text {
  fill: #000000;
}

a {
  fill: #000000;
  text-decoration: underline;
}

