@font-face {
  font-family: 'Avenir';
  src: URL('res/fonts/avenirlight.ttf') format('truetype');
}

body {
  background-color: #FFFFFF;
}

.wix_text {
  font-family: 'Avenir';
  font-size: 50px;
  padding-left: 50px;
  color: #363636;
}

.calligramma {
  font-family: 'Avenir';
  font-size: 9px;
  display: block;
  margin: auto;
  width: 50%;
}

.noscroll {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

path {
  fill: transparent;
}

.svg_text {
  color: #000000;
}

.container_horiz {
  display: flex;
  flex-direction: row;
}

.container_vert {
  display: flex;
  flex-direction: column;
}